[Unit]
Description=Job that launches roscore once the system has started
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
Environment="ROS_LOG_DIR=/var/log/ros"
Restart=on-failure

ExecStartPre=/usr/bin/bash /opt/ros/roscore_prestart.bash
ExecStartPost=/usr/bin/bash /opt/ros/roscore_poststart.bash
User=ros
ExecStart=/usr/bin/bash -c ". /opt/ros/noetic/setup.bash && roscore"

