[Unit]
Description=Job that launches the ps3joy node once roscore has started
After=roscore.service
BindsTo=roscore.service

[Install]
WantedBy=roscore.service

[Service]
Environment="ROS_LOG_DIR=/var/log/ros"
Restart=on-failure

ExecStart=/bin/bash -c ". /opt/ros/noetic/setup.bash && rosrun ps3joy ps3joy.py --inactivity-timeout=3600"

